<div class="modal fade" id="nuevo-cliente" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header generic ">
                    <h4 class="modal-title" id="modal-label"><i class="fa fa-car"></i> Nuevo cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                        <div class="clearfix">
                                <ul class="nav nav-tabs top pull-left w-100p">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#ta">Datos</a>
                                    </li>
                                  
                                                       
                                </ul>
                            </div>
                            <div class="tab-content top">
                                    <div class="tab-pane active" id="ta">
                                        <form [formGroup]="clienteForm">
                                                        <div class="row">
                                                                <div class="col-md-6" >
                                                                        <div [ngClass]="{'has-success':clienteForm.get('nombre').value != '' }">
                                                                                <div class="form-group">
                                                                                        <label for="">Nombre:</label>
                                                                                        <input [ngClass]="{'form-control-success':clienteForm.get('nombre').value != '' }" formControlName="nombre" type="text" class="form-control">
                                                                                </div>
        
                                                                        </div>
                                                                        <div [ngClass]="{'has-success':clienteForm.get('apellido').value != '' }">
                                                                                <div class="form-group">
                                                                                        <label for="">Apellido:</label>
                                                                                        <input [ngClass]="{'form-control-success':clienteForm.get('apellido').value != '' }" formControlName="apellido" type="text" class="form-control">
                                                
                                                                                </div>
        
                                                                        </div>
                                                                        <div>
                                                                                <div class="form-group">
                                                                                        <label for="">Tipo de Identificacion:</label>
                                                                                        <select  formControlName="tipoId" class="form-control">
                                                                                        <option value="cedula">Cedula</option>
                                                                                        <option value="ruc">Ruc</option>
                                                                                        </select>
                                                                                </div>
        
                                                                        </div>

                                                                        
                                                                        
                                                                        
                                                                        
                                                                        <div *ngIf="clienteForm.get('tipoId').value == 'cedula'" [ngClass]="{'has-danger':clienteForm.get('cedula').value != '' && clienteForm.get('cedula').hasError('invalidCedula'),
                                                                        
                                                                                                'has-success': clienteForm.get('cedula').value != '' && !clienteForm.get('cedula').hasError('invalidCedula')              }">
                                                                                <div class="form-group">
                                                                                        <label for="">Cedula:</label>
                                                                                        <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                                                                <input maxlength="10" formControlName="cedula" type="text" [ngClass]="{'form-control-danger':clienteForm.get('cedula').value != '' && clienteForm.get('cedula').hasError('invalidCedula'), 'form-control-success':clienteForm.get('cedula').value != '' && !clienteForm.get('cedula').hasError('invalidCedula')}" class="form-control">
                                                                                                
                                                                                        </div>
                                                                                        
                                                                                        
                                                                                </div>
        
                                                                        </div>

                                                                        <div *ngIf="clienteForm.get('tipoId').value == 'ruc'">
                                                                                        <div class="form-group">
                                                                                                <label for="">Ruc:</label>
                                                                                                <div class="input-group">
                                                                                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                                                                        <input maxlength="15" formControlName="ruc" type="text"  class="form-control">
                                                                                                        
                                                                                                </div>
                                                                                                
                                                                                                
                                                                                        </div>
        
                                                                                </div>
                                                                        
                                                                
                                                                        
                                                                        </div>
                                                                
                                                                <div class="col-md-6"  >
                                                                        
                                                                        <div [ngClass]="{'has-danger' : (clienteForm.get('email').value != '' && clienteForm.get('email').hasError('required')) || (clienteForm.get('email').value != '' && clienteForm.get('email').hasError('invalidEmail')), 
                                                                        'has-success' : !clienteForm.get('email').hasError('required') && clienteForm.get('email').value !='' && !clienteForm.get('email').hasError('invalidEmail')}">
                                                                                <label class="form-control-label">Email</label>
                                                                                <div class="input-group">
                                                                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                                                        <input formControlName="email" class="form-control" [ngClass]="{'form-control-danger' : (clienteForm.get('email').value != '' && clienteForm.get('email').hasError('required')) || (clienteForm.get('email').value != '' && clienteForm.get('email').hasError('invalidEmail')), 
                                                                                                                                                        'form-control-success' :  !clienteForm.get('email').hasError('required') && !clienteForm.get('email').hasError('invalidEmail')}" type="text">                      
                                                                                </div>
                                                                                <span class="help-block text-danger" *ngIf="clienteForm.get('email').value != '' && clienteForm.get('email').hasError('required')">Email es requerido</span>                              
                                                                                <span class="help-block text-danger" *ngIf="clienteForm.get('email').value != '' && clienteForm.get('email').hasError('invalidEmail')">Email Invalido</span>
                                                                                </div>

                                                                                <div [ngClass]="{'has-success':clienteForm.get('telefono').value != '' }">
                                                                                        <div class="form-group">
                                                                                                <label for="">Telefono Casa:</label>
                                                                                                <div class="input-group">
                                                                                                <div class="input-group-addon"> <i class="fa fa-phone"></i> </div>
                                                                                                <input [ngClass]="{'form-control-success':clienteForm.get('telefono').value != '' }" formControlName="telefono" type="text" class="form-control">
                                                                                                </div>
                                                                                                
                                                
                                                                                        </div>
        
                                                                                </div>
                                                                                <div [ngClass]="{'has-success':clienteForm.get('celular').value != '' }">
                                                                                        <div class="form-group">
                                                                                                <label for="">Telefono Movil:</label>
                                                                                        <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                                                                                <input [ngClass]="{'form-control-success':clienteForm.get('celular').value != '' }" formControlName="celular" type="text" class="form-control">
                                                                                        </div>
                                                                                                
                                                                                                
                                                
                                                                                        </div>
        
                                                                                </div>
                                                                                <div [ngClass]="{'has-success':clienteForm.get('direccion').value != '' }">
                                                                                        <div class="form-group">
                                                                                                <label for="">Direccion:</label>
                                                                                                <textarea  [ngClass]="{'form-control-success':clienteForm.get('direccion').value != '' }" formControlName="direccion"  class="form-control"> </textarea>
                                                
                                                                                        </div>
        
                                                                                </div>
                                                                        
                                                                        
                                                                        
                                                                        </div>
                                                                </div>
                                                        
                                                                
                                        </form>
                                    </div>
                           

                                </div>  
         
              
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="!clienteForm.valid" (click)="savecliente()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>