<div class="task-todo-container">
    <div class="row header">
              
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="todo-list" slim-scroll [slimScrollOptions]="{height: 349}">
                <li *ngFor="let item of getNotDeleted()" [ngClass]="{checked: item.isChecked, active: item.isActive}"
                    (mouseenter)="item.isActive=true" (mouseleave)="item.isActive=false">
                    <input type="checkbox" [(ngModel)]="item.isChecked">
                    <span class="cut-with-dots">{{ item.text }}</span>
                    <i class="fa fa-times text-danger" (click)="item.deleted = true"></i>
                </li>
            </ul>
        </div>
    </div>
</div>