<nav class="nav az-navbar fixed-top">
    <a class="navbar-brand" routerLink="/pages/dashboard">
        <img src="assets/img/logo/az_logo_full.png" alt="" class="hidden-sm-down"> 
        <img src="assets/img/logo/az_logo.png" alt="" class="hidden-md-up"> 
    </a>

    

    <ul class="nav right-section">
        <li class="nav-item">
          <div class="dropdown float-right user-menu">
              <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  <img *ngIf="user.image == ''" src="assets/img/profile/juan.png" alt="user-img" class="img-circle user-img">
                  <img *ngIf="user.image != ''" [src]="user.image" alt="user-img" class="img-circle user-img">
                  <span class="hidden-md-down">{{user.nombre}} {{user.apellido}}</span>
              </a>

              <ul class="dropdown-menu">
                  <li class="user-info">
                        <img *ngIf="user.image == ''" src="assets/img/profile/juan.png" alt="user-img" class="img-circle user-img">
                        <img *ngIf="user.image != ''" [src]="user.image" alt="user-img" class="img-circle user-img">
                                
                      <p>
                            {{user.nombre}} {{user.apellido}}
                         
                      </p>
                  </li>
                 
                  <a class="dropdown-item" routerLink="/"><i class="fa fa-lock"></i>Bloquear</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/login"><i class="fa fa-power-off"></i>Cerrar Sesion</a>
              </ul>
          </div>
        </li>
    </ul>

</nav>