<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span class="text-uppercase">Modelos de Carro</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
                 


                <div class="w-200 pull-right bottom-15">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Buscar por nombre...">
                    </div>
                </div> 
                <form [formGroup]="modeloForm" class="row form-inline">
                        <div class="form-group col-md-5 col-sm-6" [ngClass]="{}">
                            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-5 col-sm-6" [ngClass]="{}">
                            <ng-select 
                            formControlName="marca_id"
                            [(options)]="marcas"
                            [placeholder]="marcaLabel"
                            class="form-control">
                                
                            </ng-select>
                        </div>
                   
                     
                    
                        <div class="form-group col-md-1 col-sm-4" *ngIf="create">
                            <button [disabled]="!modeloForm.valid" (click)="saveModelo()" type="submit" class="btn btn-primary btn-sm">Guardar</button>
                        </div>
                        
                        <div class="form-group col-md-2 col-sm-4" *ngIf="!create">
                            <button [disabled]="!modeloForm.valid" (click)="editModelo()" type="submit" class="btn btn-primary btn-sm">Editar</button>
                        </div>
                </form>  
            
                <div class="table-responsive datatable">
                    <table class="table table-striped table-hover table-sm" [mfData]="data  | SearchPipe : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                                      
                                <th><mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="marca">Marca</mfDefaultSorter></th>
                            
                                <th></th>   
                                <th>Acciones</th>   
                            </tr>
                        </thead>
                        <tbody>                           
                            <tr *ngFor="let modelo of mf.data">
                                <td><strong>{{modelo.nombre}}</strong></td>
                                <td><strong>{{modelo.marca.nombre}}</strong></td>
                           
                                <td></td>
                                <td><button (click)="detailModelo(modelo)" class="btn btn-main btn-sm">Editar modelo</button></td>
                                </tr>
                                <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0">
                                <td colspan="100">
                                    No hay Resultados
                                </td>
                            </tr>                          
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</div>