<div class="row">
  <div class="col-xl-4 col-lg-8 col-md-8 bottom-30">
    <div class="card card-primary text-center info-box">
      <div class="card-block">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-car"></i>
            </span>
          </div>
          <div class="col-9">
            <h6 class="no-margin">AUTOS DENTRO DE LATONERIA</h6>
            <h2>20</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="no-margin">En Proceso</p>
            <span>12</span>
          </div>
          <div class="col-6">
            <p class="no-margin">Por Facturar</p>
            <span>8</span>
          </div>
        </div>      
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-lg-8 col-md-8 bottom-30">
     <div class="card card-danger text-center info-box">
      <div class="card-block">            
        <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
          <div>
            <div class="row">
              <div class="col-3">
                <span class="info-box-icon">
                  <i class="fa fa-money"></i>
                </span>
              </div>
              <div class="col-9">
                <h6 class="no-margin">FACTURADO SEMANA</h6>
                <h2>82,765</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="no-margin">Contado</h6>
                <span>2:56</span>
              </div>
              <div class="col-6">
                <h6 class="no-margin">Credito</h6>
                <span>374</span>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-3">
                <span class="info-box-icon">
                  <i class="fa fa-money"></i>
                </span>
              </div>
              <div class="col-9">
                <h6 class="no-margin">FACTURADO MES</h6>
                <h2>13.8%</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="no-margin">Contado</h6>
                <span>3,692</span>
              </div>
              <div class="col-6">
                <h6 class="no-margin">Credito</h6>
                <span>1,441</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 bottom-30">
    <div class="card card-success text-center info-box">
      <div class="card-block">
        <div class="row">
          <div class="col-3">
            <span class="info-box-icon">
              <i class="fa fa-clock-o"></i>
            </span>
          </div>
          <div class="col-9">
            <h6 class="no-margin">TIEMPO PROMEDIO DE SALIDA</h6>
            <h2>3.600 Min</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="no-margin">Mes Pasado</p>
            <span>3.500 Min</span>
          </div>
          <div class="col-6">
            <p class="no-margin">Este Mes</p>
            <span>3600 Min</span>
          </div>
        </div>      
      </div>
    </div>
  </div> 

</div>

<div class="row">

      <div class="col-lg-6 col-sm-12 bottom-30">
              <div widget class="card">
              <div class="card-header">
                  <span>ACTIVIDAD POR EMPLEADO</span>
                  <div class="widget-controls">
                      <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                      <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>              
                      <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                  </div>        
              </div>
              <div class="card-block widget-body feed">
                  <az-feed></az-feed>
              </div>
          </div>
      </div>

    <div class="col-lg-6 col-sm-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>ACTIVIDAD POR AUTO</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                   
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body">
               <az-todo></az-todo>
            </div>
        </div>
    </div>

</div>


<div class="row">

   <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 bottom-30">
    <div class="card card-primary text-center user-info-box">
      <div class="card-block">
        <div class="row">
          <div class="col-4">            
            <img src="assets/img/profile/adam.jpg" alt="Card image">           
          </div>
          <div class="col-8">
            <h6 class="text-capitalize">adam sandler</h6>
            <h6 class="text-uppercase">developer</h6>
            <a href="javascript:void(0);"><i class="fa fa-sign-in"></i></a> 
          </div>
        </div>           
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 bottom-30">
    <div class="card card-success text-center user-info-box">
      <div class="card-block">
        <div class="row">
          <div class="col-4">            
            <img src="assets/img/profile/ashley.jpg" alt="Card image">           
          </div>
          <div class="col-8">
            <h6 class="text-capitalize">ashley ahlberg</h6>
            <h6 class="text-uppercase">support</h6>
            <a href="javascript:void(0);"><i class="fa fa-sign-in"></i></a>            
          </div>
        </div>           
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 bottom-30">
    <div class="card card-warning text-center user-info-box">
      <div class="card-block">
        <div class="row">
          <div class="col-4">            
            <img src="assets/img/profile/michael.jpg" alt="Card image">           
          </div>
          <div class="col-8">
            <h6 class="text-capitalize">michael blair</h6>
            <h6 class="text-uppercase">menecer</h6>
            <a href="javascript:void(0);"><i class="fa fa-sign-in"></i></a>            
          </div>
        </div>           
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 bottom-30">
    <div class="card card-danger text-center user-info-box">
      <div class="card-block">
        <div class="row">
          <div class="col-4">            
            <img src="assets/img/profile/tereza.jpg" alt="Card image">           
          </div>
          <div class="col-8">
            <h6 class="text-capitalize">tereza stiles</h6>
            <h6 class="text-uppercase">designer</h6>
            <a href="javascript:void(0);"><i class="fa fa-sign-in"></i></a>            
          </div>
        </div>           
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col">
     <div widget class="card">
          <div class="card-header">
            <span>REVENUE</span>
            <div class="widget-controls">                
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a> 
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>        
          </div>
          <div class="card-block widget-body">
              <az-dynamic-chart></az-dynamic-chart>
          </div>
        </div>
  </div>
</div>